body {
    margin: 0;
    font-family: "Azeret Mono", monospace;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 200px;
    background-color: blueviolet;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 800;
}
.download-btn {
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    color: #FFFFFF;
    background-color: blueviolet;
    padding: 10px 12px;
    border-radius: 5px;
}
.hero-section {
    height: 600px;
    max-width: 1920px;
    background-image: url(/images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.hero-section h1 {
    text-align: center;
}
.hero-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 22px;
    border: none;
    color: #FFFFFF;
    background-color: blueviolet;
    border-radius: 7px;
}